<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication {{ 'Failed' if error else 'Success' }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<script type="text/javascript">
    if (window.opener) {
        window.opener.focus();
        var session = {{ session |dump }};
        var error = {{ error | dump }};
        var link = {{ link | dump }};
        // When you change the targetOrigin be sure to set the protocol, host and port
        // otherwise the message won't be posted to the parent window.
        // https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy#definition_of_an_origin
        // e.g. 'http://mypage.com:8080'
        window.opener.postMessage({error, session, link}, '*');
    }
    window.close();
</script>
</body>
</html>