name: Build

on:
  pull_request:
  push:
    branches:
      - master
      - release
      - dev

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        node-version: [16,14]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - uses: 'iamssen/couchdb-github-action@master'
        with:
          couchdb-version: '3.1'
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm test
        env:
          CLOUDANT_USER: ${{ secrets.CLOUDANT_USER}}
          CLOUDANT_PASS: ${{ secrets.CLOUDANT_PASS}}
